<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <environments default="development">
    <environment id="development">
      <!-- DataSource 설정 -->
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
      </dataSource>
      <transactionManager type="JDBC" />
    </environment>
  </environments>
	<typeAliases>
		<typeAlias type="kr.dbp.naemom.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="kr.dbp.naemom.vo.MemberVO" alias="MemberVO"/>
	</typeAliases>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
</configuration>