
    
  .main {   	 
  	margin-left: 40%;   	
  	width: 250px;
    height: 400px;
    display: flex; 
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 5px;       
}

.findid{
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-size: 12px;
  color:#666;
  margin-left: 30px;
}
.findpw{
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-size: 12px;
  color: #666;
  margin-left: 20px;
}
.findid:hover{
  color:black;
}
.findpw:hover{
  color: black;
}
.register{
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-size: 15px;
  text-align:center;
  color: rgb(80, 136, 211);
  margin-left: 74px;
}
.register:hover{
  color:#2c47dc
}

.logo {
    margin-top: 0px;
    margin-bottom: 40px;    
    
}

#login {
    width: 100%;   
    border-color: transparent;
    color: white;
    cursor: pointer;
}
#login.account{
  background-color:rgb(125, 234, 188);
}

#login:hover{
  background-color: rgb(33, 209, 112);
}

.account {  
	width: 218.4px;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#alert {
    border-color: transparent;
}
h1.logo{
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  color: rgb(33, 209, 112);
}

  /*로그인*/
 
  


  