<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.ProductDAO">
	<select id="selectProductByNum" resultType="kr.dbp.naemom.vo.ProductVO">
		select * from product where pd_num =#{pd_num}
	</select>
	
	<select id="getCategoryList" resultType="kr.dbp.naemom.vo.ProductCategoryVO">		
		<![CDATA[select * from product_category]]>
	</select>
	
  	<insert id="insertFile">
  		insert into file(fi_ori_name, fi_name, fi_pd_num, fi_category)
  		values(#{fi.fi_ori_name},#{fi.fi_name},#{fi.fi_pd_num}, #{fi.fi_category})
  	</insert>
  	
  	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="pd.pd_num">
  		insert into product(pd_title,pd_content,pd_subtitle,pd_street_address,
  		pd_registerd_address,pd_detail_address,pd_parking,pd_open_time,pd_close_time,
  		pd_pc_num, pd_capacity)
  		value(#{pd.pd_title},#{pd.pd_content},#{pd.pd_subtitle},#{pd.pd_street_address},
  		#{pd.pd_registerd_address},#{pd.pd_detail_address},
  		#{pd.pd_parking},#{pd.pd_open_time},#{pd.pd_close_time},#{pd.pd_pc_num},#{pd.pd_capacity})
  	</insert>
  	
  	<select id="getProductList" resultType="kr.dbp.naemom.vo.ProductVO">
  		select * from product
  	</select>
  	<select id="getFile" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_pd_num=#{pd_num}
  	</select>
  	<select id="getThumbNail" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_pd_num=#{random} and fi_category like concat('%',#{ThumbNail} ,'%')
  	</select>
  	<select id="getTotalCountOfProduct" resultType="int">
  		select count(*) from product;
  	</select>
  	
</mapper>

