<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.dbp.naemom.dao.ProductDAO">
	<select id="selectProductByNum" resultType="kr.dbp.naemom.vo.ProductVO">
		select * from product where pd_num =#{pd_num}
	</select>
	
	<select id="getCategoryList" resultType="kr.dbp.naemom.vo.ProductCategoryVO">		
		<![CDATA[select * from product_category]]>
	</select>
	
  	<insert id="insertFile">
  		insert into file(fi_ori_name, fi_name, fi_table_key, fi_category, fi_table)
  		values(#{fi.fi_ori_name},#{fi.fi_name},#{fi.fi_table_key}, #{fi.fi_category},#{fi.fi_table})
  	</insert>
  	
  	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="pd.pd_num">
  		insert into product(pd_title,pd_content,pd_subtitle,pd_street_address,
  		pd_registerd_address,pd_detail_address,pd_parking,pd_open_time,pd_close_time,
  		pd_pc_num, pd_capacity)
  		value(#{pd.pd_title},#{pd.pd_content},#{pd.pd_subtitle},#{pd.pd_street_address},
  		#{pd.pd_registerd_address},#{pd.pd_detail_address},
  		#{pd.pd_parking},#{pd.pd_open_time},#{pd.pd_close_time},#{pd.pd_pc_num},#{pd.pd_capacity})
  	</insert>
  	
  	<select id="getProductList" resultType="kr.dbp.naemom.vo.ProductVO">
	  SELECT * 
	  FROM product
	  <where>
	  	<if test="cri.search != '' or cri.pc_category != 0 or cri.searchFilter !=0">
		    <if test="cri.pc_category != 0">
		      pd_pc_num = #{cri.pc_category}
			    <if test="cri.searchFilter == 0 and cri.search != null">
	 			      AND (pd_content like CONCAT('%', #{cri.search}, '%')
			          or pd_title like CONCAT('%', #{cri.search}, '%')
			          or pd_street_address like CONCAT('%', #{cri.search}, '%')
		              or pd_detail_address like concat('%', #{cri.search}, '%')
		              or pd_registerd_address like concat('%', #{cri.search}, '%'))
			    </if>
			    <if test="cri.searchFilter != 0">
			      <choose> 
			        <when test="cri.searchFilter == 1">
			          AND pd_content like CONCAT('%', #{cri.search}, '%')
			        </when>
			        <when test="cri.searchFilter == 2">
			          AND pd_title like CONCAT('%', #{cri.search}, '%')
			        </when>
			        <when test="cri.searchFilter == 3">
			          AND (pd_street_address like CONCAT('%', #{cri.search}, '%')
		               or pd_detail_address like concat('%', #{cri.search}, '%')
		               or pd_registerd_address like concat('%', #{cri.search}, '%'))
			        </when>
			      </choose>
			    </if>
		    </if>
	    </if>
	    </where>
	    <where>
		    <if test="cri.pc_category == 0 ">
		    	<if test="cri.search != '' or cri.searchFilter !=0">
				    <if test="cri.searchFilter == 0 and cri.search != ''">
		 			      (pd_content like CONCAT('%', #{cri.search}, '%')
				          or pd_title like CONCAT('%', #{cri.search}, '%')
				          or pd_street_address like CONCAT('%', #{cri.search}, '%')
			              or pd_detail_address like concat('%', #{cri.search}, '%')
			              or pd_registerd_address like concat('%', #{cri.search}, '%'))
				    </if>
				    <if test="cri.searchFilter != 0 and cri.search != ''">
				      <choose> 
				        <when test="cri.searchFilter == 1">
				          AND pd_content like CONCAT('%', #{cri.search}, '%')
				        </when>
				        <when test="cri.searchFilter == 2">
				          AND pd_title like CONCAT('%', #{cri.search}, '%')
				        </when>
				        <when test="cri.searchFilter == 3">
				          AND (pd_street_address like CONCAT('%', #{cri.search}, '%')
			               or pd_detail_address like concat('%', #{cri.search}, '%')
			               or pd_registerd_address like concat('%', #{cri.search}, '%'))
				        </when>
				      </choose>
				    </if>
			    </if>
		    </if>
   	 </where>
	  ORDER BY pd_num DESC 
	  LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
  	<select id="getFile" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_table_key=#{pd_num} and fi_table=#{product}
  	</select>
  	<select id="getThumbNail" resultType="kr.dbp.naemom.vo.FileVO">
  		select * from file where fi_table_key=#{random} and fi_table=#{product} and fi_category like concat('%',#{ThumbNail} ,'%')
  	</select>
  	<select id="getTotalCountOfProduct" resultType="int">
  		select count(*) from product
  	</select>

  	<select id="getWish" resultType="kr.dbp.naemom.vo.WishVO">
  		select * from wishitem where  wi_pd_num = #{pd_num} and wi_me_id=#{me_id}
  	</select>
  	<insert id="insertWish">
  		insert into wishitem(wi_pd_num,wi_me_id)
  		value(#{pd_num},#{me_id})
  	</insert>
  	<delete id="deleteWish">
  		delete from wishitem where wi_pd_num=#{pd_num} and wi_me_id=#{me_id}
  	</delete>
  	
  	<update id="updateViewCount">
  		update product 
  			set 
  				pd_viewcount = pd_viewcount+1 
  			where 
  				pd_num = #{pd_num}
  	</update>
  	
  	<select id="getLandMarkOption" resultType="kr.dbp.naemom.vo.Option_landMarkVO">
  		select * from landmark_option where lo_pd_num=#{pd_num}
  	</select>
  	<select id="getRestrauntOption" resultType="kr.dbp.naemom.vo.Option_restrauntVO">
  		select * from restraunt_option where reo_pd_num=#{pd_num}
  	</select>
  	<select id="getAcomodationOption" resultType="kr.dbp.naemom.vo.Option_accomodationVO">
  		select * from accomodation_option where ao_pd_num=#{pd_num}
  	</select>
  	<select id="getFestivalOption" resultType="kr.dbp.naemom.vo.Option_festivalVO">
  		select * from festival_option where fo_pd_num=#{pd_num}
  	</select>
  	
  	<select id="getReviewAvg" resultType="double">  	
		select ifnull(avg(re_rating),-1) from review where re_pd_num= #{pd_num}
  	</select>
  	
  	<select id="getAoFileByOption" resultType="kr.dbp.naemom.vo.FileVO">
  		SELECT * FROM file left join accomodation_option  on  fi_table_key =ao_pd_num where fi_table=#{fi_table} and fi_table_key=#{fi_table_key}
  	</select>
  	<select id="getReoFileByOption" resultType="kr.dbp.naemom.vo.FileVO">
  		SELECT * FROM file left join restraunt_option  on  fi_table_key =reo_pd_num where fi_table=#{fi_table} and fi_table_key=#{fi_table_key}
  	</select>
  	<delete id="deleteProduct">
  		delete from product where pd_num =#{pd_num}
  	</delete>
  	

	<update id="updateProduct">
	  update product
	  set pd_title=#{pd.pd_title},
	      pd_content=#{pd.pd_content},
	      pd_subtitle=#{pd.pd_subtitle},
	      pd_street_address=#{pd.pd_street_address},
	      pd_registerd_address=#{pd.pd_registerd_address},
	      pd_detail_address=#{pd.pd_detail_address},
	      pd_parking=#{pd.pd_parking},
	      pd_open_time=#{pd.pd_open_time},
	      pd_close_time=#{pd.pd_close_time},
	      pd_pc_num=#{pd.pd_pc_num},
	      pd_capacity=#{pd.pd_capacity}
	  where pd_num=#{pd.pd_num}
	</update>
	<update id="updateThumbNail">
	  UPDATE file SET
	    fi_ori_name = #{fi_ori_name},
	    fi_name = #{fi_name}
	  WHERE fi_num = #{fi_num} AND fi_table LIKE CONCAT('%', #{fi_table}, '%') AND fi_category LIKE CONCAT('%', #{fi_category}, '%')
	</update>
	
	<delete id="deleteFile">
	  DELETE FROM file
	  WHERE fi_num = #{fi_num}
	</delete>
	
	<select id="getProductCount" resultType="int">
		select count(*) from product;
	</select>	
	
	<select id="getDayOff" resultType="kr.dbp.naemom.vo.DayOFFVO">
		select * from day_off where do_pd_num=#{pd_num};
	</select>

</mapper>

